html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  background-color: #ebebeb51;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -----------------------&& [1] &&----------------------- */

header {
  background-color: #297be0b1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  height: 70px;
  width: 100%;
}
.thuonghieu {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  margin-left: 10px;
  margin-right: 45px;
  flex: 1;
  min-width: 230px;
}
.th {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.thuonghieu2 {
  height: 70px;
}
.thuonghieu1 {
  width: 500px;
}

header img {
  width: 80px;
  height: auto;
  max-width: 180px;
  background-attachment: fixed;
}

.InputContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  padding-left: 15px;
  margin-left: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  min-width: 150px;
  box-sizing: border-box;
  flex-wrap: nowrap;
  width: 95%;
}
.InputContainer form {
  flex-wrap: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.input {
  width: 90%;
  min-width: 100px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: rgb(223, 136, 22);
  flex: 2;
}

.search-icon {
  width: 100%;
  height: 100%;
}
.search-icon i {
  font-size: 30px;
}

.labelforsearch {
  cursor: pointer;
  padding: 0 6px 0 0;
  background-color: white;
  border: none;
  width: 10%;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.InputContainer:hover,
.InputContainer:focus-within {
  border: 2px solid #8b4aec;
  box-shadow: 0px 0px 0px 7px rgba(185, 74, 236, 0.441);
  background-color: white;
}

.menu {
  flex: 2.2;
  margin: 0 40px 0 30px;
  min-width: 400px;
}

.thongtin {
  display: flex;
  align-items: center;
  color: white;
  font-size: 19px;
  justify-content: center;
  gap: 20px;
}
.thongtincon {
  cursor: pointer;
}
.thongtincon,
.thongtincon-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  margin: 0;
  padding: 0;
}
#small {
  position: relative;
}
.thongtincon i,
.thongtincon-1 i {
  font-size: 30px;
  margin-right: 2px;
}
.dathang {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.dathang a {
  margin-bottom: 2px;
  line-height: normal;
}
.thongtincon a,
.thongtincon-1 a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bolder;
}

/* Tooltip khi di chuột vào #small */
.tooltip {
  display: none;
  position: absolute;
  bottom: -367px;
  left: -11px;
  width: 277px;
  height: 330px;
  background-image: url("https://media.istockphoto.com/id/995688184/vi/anh/hi%E1%BB%87u-%E1%BB%A9ng-k%E1%BA%BFt-c%E1%BA%A5u-n%E1%BB%81n-m%C3%A0u-xanh-nh%E1%BA%A1t-tr%E1%BB%ABu-t%C6%B0%E1%BB%A3ng.jpg?s=612x612&w=0&k=20&c=kHzFC5JH47vnQBAqoJCSP1GHqCdTx9GAtNshGp_YbDI=");
  background-size: cover;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 14px;
  z-index: 2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.tooltip.show {
  display: block;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay.show {
  display: block;
}

/* Mũi tên hướng lên bên ngoài tooltip */
#small .tooltip::after {
  content: "";
  position: absolute;
  top: -19px;
  left: 8.4%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #92d3f1 transparent;
}

.tooltip-1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 13%;
  gap: 15px;
  border: 1px solid black;
  border-radius: 5px;
}
.tooltip-1 img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.tooltip-1 h4 {
  text-align: center;
  height: 35px;
  margin: 11px 0;
}
.tooltip-2 {
  height: 70%;
}
.tooltip-2 h5 {
  font-size: 17px;
  margin: 10px 0;
  color: black;
  height: 10%;
}
.tooltip-2 hr {
  width: 100%;
  height: 1%;
}
.tooltip-2-nd-thongbao {
  background-color: white;
  height: 69%;
  border-radius: 10px;
}
.tooltip-2-nd-thongbao p {
  text-align: center;
  color: #297be0d3;
  padding-top: 10px;
}
.tooltip-3 {
  height: 10%;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tooltip-3 a {
  margin: 10px 0;
  text-decoration: none;
  color: red;
  font-size: 15px;
  text-align: center;
}

.tooltip-4 {
  padding-bottom: 10px;
}
.tooltip-4 a {
  margin: 10px 0;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 15px;
  text-align: start;
}

.tooltip-4 a:hover {
  color: white;
  text-decoration: underline;
}

.tooltip-3 a:hover {
  color: rgba(255, 0, 0, 0.577);
  text-decoration: underline;
}
@media (max-width: 900px) {
  .thuonghieu {
    min-width: 200px;
  }
  .thuonghieu1 {
    width: 150px;
  }
  .InputContainer {
    min-width: 250px;
  }
  .input {
    min-width: 200px;
  }
  .thongtin {
    font-size: 16px;
    margin-left: 25px;
    gap: 0px;
  }
  .thongtincon-1 {
    display: none;
  }
  .menu {
    flex: 2;
    min-width: 200px;
    margin: 0 30px 0 30px;
  }
  .thongtincon a {
    width: 100px;
    min-width: 80px;
  }
  #small .tooltip {
    width: 144px;
  }
  #small .tooltip::after {
    left: 13.4%;
  }
  .tooltip-1 h4 {
    margin: 1px;
  }
  .tooltip-1 {
    gap: 0;
  }
}
@media (max-width: 768px) {
  .thuonghieu1 {
    display: none;
  }
  .thuonghieu {
    min-width: 50px;
    margin-right: 10px;
    margin-left: 0px;
  }
  .th {
    min-width: 50px;
  }
  .thuonghieu2 {
    min-width: 60px;
  }
  .InputContainer {
    min-width: 150px;
    max-width: 400px;
    margin-left: 10px;
  }
  .input {
    min-width: 95px;
  }
  .thongtin {
    font-size: 14px;
    margin-left: 15px;
    gap: 0px;
  }
  .thongtincon-1 {
    display: none;
  }
  .menu {
    flex: 1.8;
    min-width: 200px;
    margin: 0 10px 0 20px;
  }
  .thongtincon {
    margin-right: 0px;
    width: 110px;
  }
  .thongtincon a {
    width: 100px;
    min-width: 80px;
  }
}
@media (max-width: 455px) {
  .thongtin {
    font-size: 14px;
    margin-left: 5px;
    gap: 0px;
  }
  .thongtincon-1 {
    display: none;
  }
  .menu {
    flex: 1.8;
    min-width: 85px;
    margin: 0 10px 0 10px;
  }
  .thongtincon {
    margin-right: 0px;
    width: 90px;
  }
  .thongtincon a {
    display: none;
  }
  .tooltip-3 a {
    display: block;
  }
  #small .tooltip {
    left: -148px;
  }
  #small .tooltip::after {
    transform: translateX(670%);
  }
}
@media (max-width: 333px) {
  .thongtincon {
    width: 80px;
  }
}

#small i:hover {
  border: 1px solid white;
  border-radius: 10px;
}

#giohang:hover {
  border: 1px solid white;
  border-radius: 10px;
}

/* -----------------------&& [2] &&----------------------- */
.cart_history_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.cart_history_container_tieude {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #297be0d3;
  border-bottom: 1px solid #297be0d3;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  background-color: white;
}

.cart_history_container_nd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 333px;
}

.cart_history_container_nd table {
  width: 100%;
  border-collapse: collapse;
  height: 100%;
  border-radius: 10px;
}
.cart_history_container_nd table th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 20%;
  height: 16.6%;
}

.cart_history_container_nd table th {
  font-size: 18px;
  background-color: #297be0d3;
  color: white;
  text-decoration: underline;
}

.cart_history_container_nd table tr:hover {
  background-color: #297be046;
}

/* -----------------------&& [3] &&----------------------- */
.scroll-to-top {
  position: fixed;
  bottom: 28px;
  right: 38px;
  width: 50px;
  height: 50px;
  background-color: #297be0b1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 19px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in;
}

.scroll-to-top:hover {
  background-color: #2f87f2d4;
}

@media (max-width: 768px) {
  .scroll-to-top {
    bottom: 69px;
    right: 19px;
    width: 35px;
    height: 35px;
  }
}

/* -----------------------&& [4] &&----------------------- */
.scroll-to-home {
  position: fixed;
  bottom: 95px;
  right: 38px;
  width: 100px;
  height: 50px;
  background-color: #297be0b1;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in;
}

.scroll-to-home:hover {
  background-color: #2f87f2d4;
}

@media (max-width: 768px) {
  .scroll-to-home {
    bottom: 120px;
    right: 19px;
    width: 104px;
    height: 35px;
  }
}

/* -----------------------&& [5] &&----------------------- */

.cart-history-nd {
  width: 100%;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.cart-history-nd-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.526);
}
.nd-1_1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 45%;
  gap: 15px;
  margin-left: 5px;
}
.x {
  font-size: 15px;
  color: white;
}
.nd-1_1 p {
  background-color: #297be0b1;
  border-radius: 3px;
}

.nd-1_2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 45%;
  gap: 15px;
  margin-right: 5px;
}
.cart-history-nd-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.nd-2_1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  padding-left: 5px;
  padding-top: 5px;
}
.nd-2_1 img {
  width: 80px;
  height: 80px;
}
.nd-2_2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 5px 0 0;
  color: #297be0b1;
}

.cart-history-nd-3 {
  width: 100%;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 10px;
  font-weight: bolder;
}
.kettien {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(250, 248, 255);
  margin-bottom: 0px;
  border-radius: 5px;
}
.thanhtien {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
}
.thanhtien p {
  font-size: 30px;
}
.danhgia {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
  gap: 20px;
}
.danhgia p {
  padding: 10px;
  background-color: #297be0b1;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
@media (max-width: 709px) {
  .cart-history-container {
    width: 100%;
  }
}
@media (max-width: 497px) {
  .cart-history-menu {
    width: 13%;
  }
  .cart-history-nd {
    width: 100%;
  }
  .nd a {
    font-size: 10px;
  }
  .x {
    gap: 10px;
  }
  .x a {
    font-size: 10px;
  }
  .x p {
    font-size: 10px;
  }
  .cart-history-menu-tieude h3 {
    font-size: 15px;
  }
  .thanhtien h4 {
    font-size: 10px;
  }
  .thanhtien p {
    font-size: 15px;
  }
  .danhgia {
    gap: 5px;
    width: 82%;
  }
}

/* From Uiverse.io by PriyanshuGupta28 */
.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: "\2605";
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: rgb(255, 242, 0);
  transition: color 0.3s;
}
