table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead th {
  background-color: #297be0b1;
  color: #fff;
  padding: 10px;
  text-align: left;
}

tbody td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

tr a:hover {
  color: #297be0b1;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.bam {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  margin-right: 5px;
}
table td:nth-child(6) {
  width: 100px; /* Đặt chiều rộng tùy ý */
}
table td:nth-child(5) {
  width: 200px; /* Đặt chiều rộng tùy ý */
}

/* Khu vực bộ lọc */
.filter-section {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  flex-wrap: wrap; /* Giữ các phần tử trên một hàng */
}

.filter-section select,
.filter-section input {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1; /* Các input và select có thể giãn đều */
  min-width: 150px;
}

.date-filter {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 2; /* Tăng kích thước phần chọn ngày để cân đối */
}

.status-label {
  font-size: 14px;
  color: #333;
  margin-right: 5px;
}

.filter-button {
  background: #297be0b1;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  flex-grow: 0; /* Không cho nút "Lọc" giãn */
}

.filter-button:hover {
  background: #5591dab1;
}
