
.search-bar {
    display: flex;
    margin-bottom: 20px;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: #297be0b1;
    color: #fff;
    border-radius: 0 5px 5px 0;

}

.search-bar button:hover {
    background-color: rgba(98, 151, 216, 0.694);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead th {
    background-color: #297be0b1;
    color: #fff;
    padding: 10px;
    text-align: left;
}

tbody td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.bam {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
}


table td:nth-child(4) {
    width: 100px; /* Đặt chiều rộng tùy ý */
  }
  table td:nth-child(5) {
    width: 100px; /* Đặt chiều rộng tùy ý */
  }