
 .loc-button{
    background-color: #297be0b1;
    color: #fff;
    border: none;
    padding: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
 }
.btnthongke{
    margin-top: 11px;
}
.loc{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    column-gap: 8px;
    margin-top: 15px;
}

/* table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

thead th {
    background-color: #297be0b1;
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

tbody td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: middle;
}

tbody td img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

tbody td a {
    color: #297be0b1;
    text-decoration: none;
}

tbody td a:hover {
    text-decoration: underline;
}

tbody td span {
    vertical-align: middle;
}

table td:last-child, table th:last-child {
    width: 300px;
}

table td:first-child, table th:first-child {
    min-width: 200px;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}
